.banner {
    background-image: url('../img/banner.png');
    min-height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
    border-radius: 20px;
    position: relative;
}

.banner__promotion {
    padding-left: 112px;
    padding-top: 145px;
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 100px;
}

.banner__timer {
    text-align: center;
    padding-bottom: 40px;
}

.banner__timer-text {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
}

.banner__timer-time {
    display: inline-flex;
    gap: 30px;
    font-weight: 700;
    font-size: 32px;
}

.banner__timer-big {
    font-size: 60px;
}

@media(max-width: 1200px) {
    .banner {
        background-image: url('../img/img_1024/banner_1024.png');
        min-height: 314px;
        /* max-height: 314px; */
    }

    .banner__promotion {
        padding-top: 80px;
        padding-left: 80px;
        font-size: 40px;
        max-width: 360px;
        margin-bottom: 11px;
    }

    .banner__timer {
        text-align: center;
        padding-bottom: 36px;
    }

    .banner__timer-text {
        margin-bottom: 10px;
    }

    .banner__timer-time {
        gap: 20px;
        font-size: 20px;
    }

    .banner__timer-big {
        font-size: 40px;
    }
}

@media(max-width: 970px) {
    .banner {
        background-image: url('../img/img_768/banner_768.png');
        min-height: 280px;
        /* max-height: 280px; */
        margin-bottom: 40px;
    }

    .banner__promotion {
        padding-top: 64px;
        padding-left: 80px;
        font-size: 30px;
        max-width: max-content;
        margin-bottom: 82px;
    }

    .banner__timer {
        text-align: center;
        padding-bottom: 30px;
    }

    .banner__timer-text {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .banner__timer-time {
        gap: 10px;
        font-size: 16px;
    }

    .banner__timer-big {
        font-size: 30px;
    }
}

@media(max-width: 520px) {
    .banner {
        background-image: url('../img/img_320/banner_320.png');
        min-height: 340px;
        /* max-height: 340px; */
        margin-bottom: 20px;
    }

    .banner__promotion {
        padding-top: 50px;
        padding-left: 30px;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 189px;
    }

    .banner__timer-text {
        font-size: 8px;
        margin-bottom: 6px;
    }

    .banner__timer-time {
        gap: 8px;
        font-size: 14px;
    }

    .banner__timer-big {
        font-size: 20px;
    }
}