@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* @font-face {
    font-family: Lato;
    src: local('Lato-Regular'), local('Lato-Medium'),
        url('../fonts/Lato-Regular.ttf') format('tff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
} 

@font-face {
    font-family: Lato;
    src: local('Lato-Bold'), local('Lato Bold'),
        url('../fonts/Lato-Bold.tff') format('tff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
} */