header {
    display: grid;
}

.header__container {
    margin-top: 30px;
    margin-bottom: 90px;
    /* gap: 89px; */
}

.header__img {
    display: inline-grid;
}

.header__button {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: #fff;
    background-color: #3670C7;
    border-radius: 10px;
}

.header__search {
    flex-basis: 40%;
}

.header__list {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    color: #2D2D2D;
}